Description: "Setup SSM parameter store variables"
AWSTemplateFormatVersion: "2010-09-09"
Resources:
{% for variable in sceptre_user_data.Variables %}
  {{ variable.Name }}:
    Type: AWS::SSM::Parameter
    Properties:
      Name: {{ sceptre_user_data.Prefix }}{{ variable.Name }}
      Value: {{ variable.Value }}
      Type: 'String'
{% endfor %}
Outputs:
{% for variable in sceptre_user_data.Variables %}
  {{ variable.Name }}:
    Value: !GetAtt {{ variable.Name }}.Value
    Export:
      Name: !Sub '${AWS::Region}-${AWS::StackName}-{{ variable.Name }}'
{% endfor %}
