Description: "Setup SSM parameter store variables"
AWSTemplateFormatVersion: "2010-09-09"
Resources:
  {% for variable in sceptre_user_data.Variables %}
  {%- set name = variable.Name -%}
  {%- set value = variable.Value -%}
    {{ name }}:
      Type: AWS::SSM::Parameter
      Properties:
        Name: {{ sceptre_user_data.Prefix }}{{ name }}
        Value: {{ value }}
        Type: 'String'
  {% endfor %}
Outputs:
  {% for variable in sceptre_user_data.Variables %}
  {%- set name = variable.Name -%}
  {%- set value = variable.Value -%}
    {{ name }}:
      Value: !GetAtt {{ name }}.Value
      Export:
        Name: !Sub '${AWS::Region}-${AWS::StackName}-{{ name }}'
  {% endfor %}
